/*
 *  Aditi technologies
 *  Digital agency
 */

body {
    background-image: url("/content/images/new_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: Segoe UI;    
}

a:active, a:focus, input{
    outline: none;
}

label {
    font-weight:normal;
}

.alert {
    margin:10px 0px 10px 0px;
}
.logo {
    margin: 10px 0px 5px 0px;
    background-image: url("/content/images/contoso-logo-final.png");
    background-repeat: no-repeat;
    width: 210px;
}

.navbar-inverse, .navbar-default {
    background: none;
    border: none;
}

.navbar-inverse .container, .navbar-default .container {
    background-color: #42454c;
    border-bottom: 1px #000;    
}

/* customized carousel */
.carousel {
    height: 383px;
    margin-bottom: 15px;
}

.carousel-caption {
    z-index: 10;
    left: 0%;
    right: 0%;
    bottom:0%;
    padding:0px 0px 25px 0px;
    background: #000;
    opacity: 0.7;
}
    .carousel-caption h3, .carousel-caption p {
        color:#fff;
        margin-top:0px;
    }
    
.carousel .item {
    background-color: rgba(0, 0, 0, 0.8);
    height: 383px;
}

.carousel-indicators {
    bottom:0px;
}

.home-page-bottom-col-3 {
    margin-bottom: 10px;
}

.navbar-nav > li > a {
    color: #80f1f6;
}

.navbar-static-bottom {
    background-color: #000;
}


#navbar-fixed-top-1 {    
    margin:auto;
    z-index:1031;
    color: #b6bccc;
    font-size: 12px;
}

#navbar-fixed-top-2 {
    top:20px;    
    margin:auto;
}
    #navbar-fixed-top-1 ul.main_menu>li>a{
        padding-top:15px;
    }

    #navbar-fixed-top-2 ul.main_menu>li>a {
        color: #fff;
        font-size: 16px;
        padding: 5px 10px 5px 10px;
        margin-top: 0px;
        margin-left: 10px;
    }

    #navbar-fixed-top-2 ul.main_menu>li>a.active, #navbar-fixed-top-2 ul.main_menu>li>a:hover{
        background-color:#eee;
        color: #42454c;
    }   


#innerpage-banner img {
    padding: 5px 0px 5px 0px;
}

.ab_container {
    min-height: 75px;
    margin-bottom: 25px;
}

label.valid {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-indent: -9999px;
    /* background: url(<?php echo STATIC_URL.'images/valid.png';?>) center center no-repeat; */
}

label.error {
    font-weight: normal;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

#sidebar {
    position: static;
}

.item {
    cursor: pointer;
}

h1 {
    font-size: 20px;
}

#prd_components {
    padding: 0px;
}

.prdcomponent {
    width: 100%;
    float: left;
}

    .prdcomponent img {
        float: left;
        padding: 10px 0px 0px 10px;
    }

        .prdcomponent img:hover {
            cursor: pointer;
        }

    .prdcomponent span {
        float: left;
        padding: 10px;
    }

    .prdcomponent h2 {
        font-size: 18px;
        background: #0098cd;
        color:#fff;
        padding: 5px;
        margin: 10px 0px 0px 0px;
    }

.prdcontainer {
    margin-bottom: 20px;
}

ul.thumb_image_list li {
    list-style: none;
    float: left;
    display: inline;
    margin-right: 10px;
}

#preview {
    position: absolute;
    border: 3px solid #ccc;
    background: #fff;
    padding: 10px;
    display: none;
    color: #fff;
    box-shadow: 4px 4px 3px rgba(103, 115, 130, 1);
}

.big_img {
    position: absolute;
}

#forgotpassword-link {
    cursor: pointer;
    color: #07C;
    font-size: 12px;
}

    #forgotpassword-link:hover {
        text-decoration: underline;
    }

#forgotpassword-div {
    display: none;
}
/* Community page */
.all-discussions {
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
}

    .all-discussions:last-child {
        border-bottom: 0px;
    }

.chooseMediaFile {
    margin-left: 15px;
}

.mediaFile {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
}

.news-panel-title, .discussion-panel-title, .twitter-panel-title {
    height: 200px;
    line-height: 60px;    
}

.news-panel-title {
    background:#000 url("/content/images/news-graphics.png") 95% 95%;
    background-repeat: no-repeat;
}
.discussion-panel-title {
    background: rgb(235, 39, 12) url("/content/images/coomunity-graphics.png") 95% 95%;
    cursor:pointer;
    background-repeat: no-repeat;
}

.twitter-panel-title {
    background:#0098cd url("/content/images/twitter-graphics.png") 95% 95%;
    background-repeat: no-repeat;
    position: relative;
    clear:both;
}

.discussion-panel-title-icon, .news-panel-title-icon, .twitter-panel-title-icon {
    background-repeat: no-repeat;
    width: 48px;
    height: 37px;
    line-height: 25px;
    margin: 15px 10px 0 15px;
    float: left;
}

.discussion-panel-title-icon {
    background-image: url("/content/images/community-icon.png");
    height:46px;
}

.news-panel-title-icon {
    background-image: url("/content/images/news-icon.png");
}

.twitter-panel-title-icon {
    background-image: url("/content/images/twitter-icon.png");
    height:41px;
}

.news-panel-title-caption, .discussion-panel-title-caption, .twitter-panel-title-caption {
    float: left;
    font-size: 25px;    
    color: #fff;
}

.twitter_badge {
    position: absolute;
    top: 15px;
    right: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    height: 15px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    outline: 0 none;
    text-decoration: none;    
}

.twitter_badge {
    background-position: -20px -161px;
}

.timeline-header {
    display: none;
}

.t_widgets {
    background-color: #fff;
}

.t_widgets_tabs {
    background-color: #C2C2C2;
}

.clear_both {
    clear: both;
}

.news-panel-content, .post-panel-content {
    background-color: #fff;
    padding: 10px 10px 10px 25px;
    margin-bottom: 20px;
}

.panel-content {
    margin-top: 7px;
}

.news_date, .post_date {
    font-size: 13px;
    font-style: italic;
    color: #adaeae;
    margin: 0px 0px 0px 0px;
}

.news_text, .post_title {
    font-size: 15px;
    color: #3f3a34;
}

.news_link {
    font-size: 13px;
    font-style: italic;
    color: #31a680;
}

.posts-list p {
    padding:0px;
    margin:0px;
}
.post_title {
    cursor: pointer;    
    margin: 5px 0px 5px 0px;
}

    .post_title a, .post_content a {
        color: #3f3a34;
    }
    .post_title a:hover, .post_content a:hover {
        color: #2a6496;
    }

.post_content {
    margin: 0px 0px 1px 0px;
    overflow:hidden;
    height:20px;
    font-size:13px;
}
.post_resp {
    font-style:italic;
    color:#f9854a;
    font-size:13px;
    float:right;
}

.home-corosel-down-panel {
    background-color: #e4f2f3;
    padding: 0;
    border: 1px solid #94c2c3;
}

    .home-corosel-down-panel H2 {
        background-color: #70dde2;
        background-image: url("/content/images/columheaderbg.jpg");
        background-repeat: no-repeat;
        height: 53px;
        line-height: 53px;
        padding: 0 0 0 15px;
        font-size: 22px;
        margin: 0;
    }

.panel {
    background: transparent;
}

#article-container {
    padding-top: 80px;
    background: none repeat scroll 0 0 #42454c;
    border: 1px solid #3e4753;
    box-shadow: 30px 0 30px -25px #000000, -30px 0 30px -25px #000000;    
    max-width: 1000px;    
}

.row {
    margin:0px;
}
    #main-content-container-fluid-first-row {
        padding-top:10px;
        background-color:#fff;
        margin-left: -15px;
        margin-right: -15px;
    }
        #main-content-container-fluid-first-row .col-lg-8 {
            padding-right:0px;
            margin-bottom:10px;
        }

#news-home-panel h2 {
    margin-bottom: 15px;
}

.news-list, .posts-list {
    margin-bottom: 20px;
}

    .news-list p span:last-child {
        float: right;
        margin-right: 10px;
    }

    .news-list p {
        margin: 0 0 2px;
    }
/*
.news-list {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #ccc;
    padding-top: 5px;
}

.news-list:last-child {
    border-bottom: 0px;
}

.news-list p span {
    font-style: italic;
}

.news-list p span:last-child {
    float: right;
    margin-right: 10px;
}
*/

.content {
    padding-bottom:10px;
}

#discussion-responses .responses {
    border-bottom: 1px solid #ddd;
    float: left;
    width: 100%;
    padding:0px;    
}

    #discussion-responses .responses:last-child {
        border-bottom: 0px;        
    }
    #discussion-responses .responses .col-sm-3 {
        padding-top:10px;
    }
    #discussion-responses .responses .col-sm-9 {
        border-left: 1px solid #ddd;
        padding-top:10px;
        min-height:115px;
    }

.pagination {
    margin: 0px;
}

.post-panel-content .posts-list {
    /*cursor: pointer;*/
}
/*
.main_menu {
    position: absolute;
    right: 0px;
    top: 30px;
}*/

#b-menu-1 {
    display:block;
}

.navbar-fixed-top {
    min-height:25px;
    margin-bottom:0px;
}

#b-menu-1 .navbar-nav > li {
    padding:0px 0px 0px 20px;
}

#b-menu-1 .navbar-nav>li>a {
    padding:10px 5px 0px 5px;
}

#b-menu-2 .navbar-nav {
    margin-top:30px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    margin-top:20px;
}
    .navbar-default .navbar-toggle .icon-bar {
        background-color:#fff;
    }

.navbar-default .navbar-toggle:hover {
    border-color: transparent;
}

.sign_in {
    z-index: 1040;
}

#signup-form {
    padding-left: 20px;
}

#show-profile-div .col-sm-3 {
    text-align: center;
}

    #show-profile-div .col-sm-3 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

#show-profile-div .btnRow {
    border-top: 1px solid #01afd2;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px;
}

#show-profile-div .col-sm-9 ul {
    padding: 0px;
}

#show-profile-div .col-sm-9 h4 {
    margin: 0px;
}

ul.main-navbar li {
    display: inline;
    margin: 0 8px 0 8px;
    font-size: 16px;
    padding: 5px 20px 10px 20px;
    line-height: 38px;
    color: #96f4f6;
    height: 33px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #3f6465;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod�EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #3f6465 1%, #2a3837 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3f6465), color-stop(100%,#2a3837));
    background: -webkit-linear-gradient(top, #3f6465 1%,#2a3837 100%);
    background: -o-linear-gradient(top, #3f6465 1%,#2a3837 100%);
    background: -ms-linear-gradient(top, #3f6465 1%,#2a3837 100%);
    background: linear-gradient(to bottom, #3f6465 1%,#2a3837 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f6465', endColorstr='#2a3837',GradientType=0 );
}

/*  Bootstrap v2.3.2 */
.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.progress-striped .bar {
    background-color: #149bdf;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress .bar {
    width: 0%;
    height: 100%;
    color: #ffffff;
    float: left;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.footer {
    color:#fff;    
    margin:10px 0px 0px 0px;
}

    .footer .copyright {
        font-size: 13px;
        color: #fff;
        margin:10px 0px 10px 15px;        
    }

#footer-row span {
    font-size:15px;
}
#footer-row ul {
    padding:10px 0px 0px 0px;
}
    #footer-row ul li {
        font-size:12px;
    }
        #footer-row ul li a {
            color:#fff;            
        }

/*
.background_white {
    background-color: #fff;
}*/

.fa-calendar, .fa-comment {
    font-size: 11px;
}

/* Community page */

.community_title_panel {
    background-color: #f9854a;    
    height: 47px;
    line-height: 47px;
    margin: 0px 0px 10px 0px;
}

.community-icon {
    background-image: url("/content/images/inner-community-icon.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 15px 10px 0 15px;
    float: left;
}

.community_title_caption {
    float: left;
    font-size: 21px;    
    color: #fff;
}

.no_padding {
    padding: 0px;
}

.community_title_panel_filter {
    padding-right: 20px;
}

.dis_list_box {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

#resp-reply .dis_list_box_row {
    border:0px;
}

.dis_list_box_row {
    border-bottom: 1px solid #ddd;
}

    .dis_list_box_row .col-sm-3, .dis_list_box_row .col-sm-2 {
        text-align: center;
    }

        .dis_list_box_row .col-sm-3 img, .dis_list_box_row .col-sm-2 img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }



#resp-content, #disc-content {
    padding:0px;
    margin-bottom: 0px;    
}

    #resp-content .row .col-sm-12 {
        padding:0px;
    }

#resp-reply {
    border-top: 0px;
}

.user_icon_box {
    overflow:hidden;
}

.all-posts, .discussion_section {
    border-left: 1px solid #ddd;
}

.dis_user_name {
    color: #f9854a;
    font-size: 13px;
    text-transform: capitalize;
}

.dis_list_title {
    color: #f9854a;
    font-size: 13px;
    font-weight:bold;
    text-transform: capitalize;
}

#dicussion-reply h5 {
    color: #f9854a;
    font-size: 15px;
    font-weight: bold;
}

#dicussion-reply #content, #new-discussion-form-upload #content {
    height: 200px;
    width: 99%;
}

#dicussion-reply #mediaDescription {
    width: 99%;
}

#dicussion-reply .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.postRespAndDate {
    font-style:italic;
    color:#999;
    font-size:12px;
}

.form-horizontal .control-label {
    padding: 0px;
}

#btn-edit-profile, #btn-done-edit-profile {
    background-color: #01afd2;
    border: 1px solid #317d84;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.show-profile-label, .edit-profile-label {
    color: #01afd2;
}

ul {
    list-style-type: none;
}

.edit-profile-avatar {    
    width: 64px;
}

#lblBrowseAvatar {
    cursor: pointer;
    margin-top: 0px;
    border: 1px solid #317d84;
    color: #fff;
    padding: 0px;
    text-align: center;
    background-color: #01afd2;
}
#edit-profile-avatar, #showavatar {
    margin-left:20px;
}

#disc-list-view, #resp-list-view {
    margin-right: 10px;
    padding:5px 0px 5px 0px;
}

#status-msg {
    padding:5px;
    margin-bottom: 10px;
    display: none;
}

/* BEGIN hover over popup style */
.media_popup_parent {
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
}

.media_description {
    padding: 2px 0px;
    text-align: left;
}

.pup, .pup_class2, .pup_class3 {
    position: absolute;
    z-index: 200; /* aaaalways on top*/
    margin-left: 10px;
    margin-top: 5px;
    border: 3px solid #999;
    color: #000;
    background-color: #fff;
    font-size: 0.95em;
    padding: 10px;
}
/* END hover over popup style */

/* BEGIN Show/Hide more content */
.text-content {
    line-height: 18px;
    float: left;
    width: 100%;
}

.short-text {
    overflow: hidden;
    height: 40px;
}

.full-text {
    height: auto;
}

.show-more {
    text-align: left;
    float: left;
    width: 100%;
}

.Specifications .short-text {
    margin-top: 5px;
    margin-bottom: 10px;
    height: auto;
}
/* END Show/Hide more content */

.thumb_image_list {
    padding: 0px;
    float: left;
    width: 100%;
}

video {
    background: transparent url('/content/images/ajax-loader.gif') no-repeat 0 0;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
}

.top-users-list {
    padding:10px;
    background:#ddd url('/content/images/topusers.png') no-repeat;
}
.top-users-list strong {
    padding:0px 0px 10px 0px;
    color:#f9854a;
    border-bottom:1px solid #999;
    float:left;
    width:100%;
}
.top-users-list ul{
    margin:0px;
    padding:0px;
}
.top-users-list ul li{
    display:inline;
}
    .top-users-list ul li.user_posts {
        width:70px;float:right;
    }

#login-to-post-redirect, #chooseMediaFile, #new-discussion-form-upload #btnSubmit, #login-to-post, #login-to-post-response, #discussion-response-form .btn  {
    background-color:#f9854a;
    border-color:#FA9D6D;
}
#login-to-responses {
    color:#f9854a;
}
#login-to-post-response {
    margin: 10px;
}

.paginationAndPostButton {
    padding:10px 0px 10px 0px;
    border-bottom:1px solid #ddd;    
}
    .paginationAndPostButton .span3 {
        padding-top:5px;
    }

    .paginationAndPostButton .span6 {
        padding-top:5px;
    }

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #f9854a;
    border-color: #FA9D6D;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    background-color: #eee;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #f9854a;
    border-color: #FA9D6D;
}

.news-page {
    padding:0px;
}
.news-page h1{
    background-color: #0098cd;
    color:#fff;
    padding:5px;
    margin:0px 0px 10px 0px;
}

@media (max-width: 1200px) {
    .navbar-inverse .container, .navbar-default .container {
        width: 1000px;
    }
    #twitter-widget-0 {
        width:100%;
    }
}

@media (max-width: 1100px) {
    .col-lg-4 {
        clear: both;
    }
    #twitter-widget-0 {
        width:100%;
    }
}

@media (max-width: 992px) {
    .navbar-inverse .container, .navbar-default .container {
        width: 750px;
    }
    .col-lg-4 {
        clear:both;
    }
    #twitter-widget-0 {
        width:100%;
    }
}

@media (max-width: 768px) {
    .navbar-inverse .container, .navbar-default .container {
        width: auto;
    }
    .logo {
        margin-left:10px;
    }
    .col-lg-4 {
        clear:both;
    }
    #twitter-widget-0 {
        width:100%;
    }

    #b-menu-1 .navbar-nav {
        margin: 0px;
    }
    #b-menu-1 .navbar-nav > li {
        float: left;
    }

    #b-menu-1 .navbar-nav.navbar-right:last-child {
        float:right;
    }
}

@media (max-width: 767px) {
    #forgotpassword-form span{
        color:#fff;
    }
    .navbar-nav .open .dropdown-menu {
        margin-left: 10px;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    #signup-form label {
        padding-left: 15px;
    }

    #btn-edit-profile, #btn-done-edit-profile {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .carousel, .carousel .item {
        height:310px;
    }
    .logo {
        background-size: 80% auto;
    }
}

@media (min-width: 1200px) {
    .navbar-inverse .container, .navbar-default .container {
        width: 1000px;
    }
    #twitter-widget-0 {
        width:100%;
    }

    #main-content-container-fluid-first-row .col-md-4 {
        clear:none;
    }
}

@media (min-width: 992px) {
    .container {
        width: 1000px;
    }

    #login-form .btn, #login-form .form-control, #forgotpassword-form .btn, #forgotpassword-form .form-control {
        width: 115%;
    }

    .dropdown-menu {
        min-width: 190px;
        padding-left: 10px;
    }

    #signup-dropdown-menu {
        min-width: 220px;
    }

    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    #b-menu-1 .navbar-left {
        margin-left: 200px;
    }

    .col-md-4 {
        width: 32%;
        margin-left: 1%;
    }

    #main-content-container-fluid-first-row .col-md-4 {
        clear:none;
    }

    #signup-form .form-control, #changepassword .form-control {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
    .navbar-nav {
        float: right;
        margin: 0;
    }

    #b-menu-1 .navbar-nav > li > a {
        padding: 5px 10px 0px 10px;
    }

    #b-menu-1 .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    }

    #main-content-container-fluid-first-row .col-md-4 {
        clear:none;
    }
}

.t_hashtag {
    font-size: 12px;
}

.nav > li.t_hashtag > a {
    padding:10px 4px;
}
.viewCart{
    font-size: 19px;
    float: right;
    margin-top: 5px;
}
.addToCart{
    font-size:19px;
    padding: 0 !important;
}
@media (max-width: 800px) {
        .viewCart {
            margin-top: -27px;
        }
}

.validation-summary-errors span{
    color:red !important;
    font-weight:bold;
}

.validation-summary-errors li{
    color:red !important;
}