<div class="container-fluid">
    <div class="resume" *ngIf="topic">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-right">
                        <div>
                            <button type="button" class="btn btn-default" *ngIf="!viewReply && user" (click)="viewReply = true">
                                <span class="glyphicon glyphicon-plus" aria-hidden="false"></span> Add a reply</button>
                            <a *ngIf="!user" href="/Account/Signin/?redirect=forum/topics/{{topic.id}}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-user" aria-hidden="false"></span> Sign in to Add a Reply</a>
                        </div>
                        <div class="panel panel-default" *ngIf="viewReply">
                            <div class="panel-heading">Reply</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="title">Title:</label>
                                    <input type="text" class="form-control" name="title" [(ngModel)]="title">
                                </div>
                                <div class="form-group">
                                    <label for="content">Comment:</label>
                                    <textarea class="form-control" rows="5" name="content" [(ngModel)]="content"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="mediaDescription">Media Description:</label>
                                    <input type="text" class="form-control" name="mediaDescription" [(ngModel)]="mediaDescription">
                                </div>
                                <div class="form-group">
                                    <input #fileInput type="file" />
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-danger" (click)="viewReply = false;">Cancel</button>
                                <button type="button" class="btn btn-primary" (click)="addPost()">Submit</button>
                            </div>
                        </div>
                    </div>

                    <div class="bs-callout topic">
                        <h4>{{topic.title}}</h4>
                        <p>
                            {{topic.content}}
                        </p>
                        <ul class="list-group" *ngIf="topic.mediaUrl">
                            <a class="list-group-item inactive-link" href="#">
                                <h4 class="list-group-item-heading">
                                    {{topic.mediaDescription}}
                                </h4>
                                <p class="list-group-item-text">
                                    <img [src]="topic.mediaUrl" class="img-responsive" />
                                </p>
                            </a>
                        </ul>

                    </div>
                    <div class="bs-callout topic-reply" *ngIf="topic.posts.length > 0">
                        <h4>Replies</h4>
                        <ul class="list-group">
                            <a class="list-group-item inactive-link" href="#" *ngFor="let post of topic.posts; let i = index">
                                <h4 class="list-group-item-heading">
                                    {{post.title}}
                                </h4>
                                <p class="list-group-item-text">
                                    {{post.content}}
                                </p>
                                <ul class="list-group" *ngIf="post.mediaUrl">
                                    <a class="list-group-item inactive-link" href="#">
                                        <p class="list-group-item-text">
                                            <img [src]="post.mediaUrl" class="img-responsive" />
                                        </p>
                                        <h4 class="list-group-item-heading">
                                            {{post.mediaDescription}}
                                        </h4>
                                    </a>
                                </ul>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>