
.page-header {
    text-align: center;
}

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}

    .bs-callout:last-child {
        margin-bottom: 0px;
    }

    .bs-callout h4 {
        margin-bottom: 10px;
        margin-top: 0;
    }

.topic {
    border-left-color: #d9534f;
}

    .topic h4 {
        color: #d9534f;
    }

    .topic-reply {
        border-left-color: #4189c7;
        background-color: #222222;
    }
    
        .topic-reply h4 {
            color: #4189c7;
        }