.row-content {
    margin-top: 51px;
    background-color: whitesmoke;
}

.backdrop {
    height: 100%;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
    .row-content {
        margin-top: 0px;
    }
}
