<div class="container-fluid">
    <h1>Globally-distributed applications with Microsoft Azure</h1>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="#" class="thumbnail">
                <img src="/images/app/schema-architecture.png" class="img-responsive">
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="#" class="thumbnail">
                <img src="/images/app/schema-distributing-data.png" class="img-responsive">
            </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="#" class="thumbnail">
                <img src="/images/app/schema-primary-resource-group.png" class="img-responsive">
            </a>
        </div>
        <div class="clearfix visible-lg-block"></div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="#" class="thumbnail">
                <img src="/images/app/schema-parent-resource-group.png" class="img-responsive">
            </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="#" class="thumbnail pull-left">
                <img src="/images/app/schema-child-resource-group.png" class="img-responsive">
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="#" class="thumbnail">
                <img src="/images/app/schema-active-georeplication.png" class="img-responsive">
            </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-lg-block"></div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="#" class="thumbnail">
                <img src="/images/app/schema-replicas.png" class="img-responsive">
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="#" class="thumbnail">
                <img src="/images/app/schema-devops-new-child-resource-groups.png" class="img-responsive">
            </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="#" class="thumbnail">
                <img src="/images/app/schema-traffic-manager-current-status.png" class="img-responsive">
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="#" class="thumbnail">
                <img src="/images/app/schema-traffic-manager-new-status.png" class="img-responsive">
            </a>
        </div>
    </div>
</div>