@*@{
    var topPostModel = ViewBag.TopPostData;
}*@

<div class="panel" id="top-users">
    @*<div class="top-users-list">
        <strong>Top 5 Users</strong>
        @foreach (var topPostItem in topPostModel)
        {
        <ul>
            <li class="user_name">@topPostItem.UserName</li>
            <li class="user_posts">@topPostItem.NumbrerPosts Posts</li>
        </ul>
        }
    </div>*@


    <div class="top-users-list">
        <strong>Top 5 Users</strong>
        <ul>
            <li class="user_name">Mahesh</li>
            <li class="user_posts">31 Posts</li>
        </ul>
        <ul>
            <li class="user_name">Chloe</li>
            <li class="user_posts">14 Posts</li>
        </ul>
        <ul>
            <li class="user_name">Broad rick</li>
            <li class="user_posts">7 Posts</li>
        </ul>
        <ul>
            <li class="user_name">Hunter</li>
            <li class="user_posts">6 Posts</li>
        </ul>
        <ul>
            <li class="user_name">Savannah</li>
            <li class="user_posts">5 Posts</li>
        </ul>
    </div>
</div>
