<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); }
    }(document, "script", "twitter-wjs");
</script>
<div class="panel">
    <div class="twitter-panel-title">
        <div class="twitter-panel-title-icon"></div>
        <div class="twitter-panel-title-caption">Twitter</div>
    </div>
    <ul class="nav nav-tabs" id="t_widget" role="tablist">
        <li role="presentation" class="t_hashtag active">
            <a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">#motion9000</a>
        </li>
        <li role="presentation" class="t_hashtag">
            <a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab">#contosomo9000</a>
        </li>
        <li role="presentation" class="t_hashtag">
            <a href="#tab3" aria-controls="messages" role="tab" data-toggle="tab">#mymotion9000</a>
        </li>
            </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <a class="twitter-timeline" height="400px" data-chrome="noheader transparent" href="https://twitter.com/hashtag/motion9000" data-widget-id="535060819113807872"></a>

        </div>
        <div role="tabpanel" class="tab-pane" id="tab2">
            <a class="twitter-timeline" height="400px" data-chrome="noheader transparent" href="https://twitter.com/hashtag/contosomo9000" data-widget-id="535770910414741504"></a>

        </div>
        <div role="tabpanel" class="tab-pane" id="tab3">
            <a class="twitter-timeline" height="400px" data-chrome="noheader transparent" href="https://twitter.com/hashtag/mymotion9000" data-widget-id="535774553398444032"></a>
        </div>
    </div>
   </div>



