<br/>
<span *ngIf="!user" class="pull-right">
    Sign In to Checkout
    <span class="glyphicon 	glyphicon glyphicon-log-in" aria-hidden="false"></span>
</span>
<br/>
<h1>Shopping Cart</h1>
<div class="shopping-cart">

    <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
    </div>

    <div class="product" *ngFor="let product of cart.items; let i = index">
        <div class="product-image">
            <img [src]="product.image">
        </div>
        <div class="product-details">
            <div class="product-title"><a [routerLink]="['/products/details', product.id]">{{product.title}}</a></div>
            <p class="product-description">{{product.description}}</p>
        </div>
        <div class="product-price">{{product.price | currency:'USD':true:'2.2-4'}}</div>
        <div class="product-quantity">{{product.quantity}}</div>
        <div class="product-removal">
            <button class="remove-product" (click)="remove(product.id)">
                Remove
            </button>
        </div>
        <div class="product-line-price">{{product.price * product.quantity | currency:'USD':true:'2.2-4'}}</div>
    </div>

    <div class="totals">
        <div class="totals-item totals-item-total">
            <label>Grand Total</label>
            <div class="totals-value" id="cart-total">{{total | currency:'USD':true:'2.2-4'}}</div>
        </div>
    </div>

    <button class="btn btn-success checkout" (click)="completeOrder()" *ngIf="user" [disabled]="total === 0">Checkout</button>
    
</div>