@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Online.Store.Core.DTOs.CartDTO
<div class="container-fluid" id="innerpage-banner">
    <img class="img-responsive" alt="" src="~/content/images/innerpage-banner.jpg">
</div>
<div class="container-fluid">
    <div class="row" id="main-content-container-fluid-first-row">
        <div class="col-lg-8">
            <div class="col-sm-12 background_white prdcontainer">
                <div id="prd_componentss">
                    <h1>Check out completed</h1>
                </div>
                <div class="container">
                    @if (ViewBag.Error == true)
                    {
                        <div class="alert alert-danger col-md-11" role="alert">
                            Error. Please try again later.!
                        </div>
                    }
                    else
                    {
                        if (Model != null)
                        {
                            <div class="container">
                                <div class="row col-md-11">
                                    <div class="panel panel-primary filterable">
                                        <table class="table">
                                            <thead>
                                                <tr class="filters">
                                                    <th>#</th>
                                                    <th>Product</th>
                                                    <th>Qty</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null && Model.CartItems != null && Model.CartItems.Any())
                                                {
                                                    for (int i = 0; i < Model.CartItems.Count; i++)
                                                    {
                                                        var item = Model.CartItems[i];
                                                        <tr>
                                                            <td>@(i + 1)</td>
                                                            <td>@item.Products.Title</td>
                                                            <td>@item.Qty</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="clear_both"></div>
            </div>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div>





