<user-register *ngIf="(user$ | async) === null"></user-register>
<ul class="nav navbar-nav navbar-right" *ngIf="(user$ | async)">
    <li>
        <p class="navbar-text">{{(user$ | async).username}}
            <a *ngIf="(useIdentity$ | async) === false" href="/account/signout" title="Sign out"> <span class="glyphicon glyphicon-off" aria-hidden="false"></span></a>
            <a *ngIf="(useIdentity$ | async) === true" href="/identity/signout" title="Sign out"> <span class="glyphicon glyphicon-off" aria-hidden="false"></span></a>  
        </p>
    </li>
</ul>