
h2.spec {
    color: #4189c7;
}

.thumbnail img {
    width: 50%;
}

.medias {
    margin-top: 15px;
}

.medias img {
    margin-bottom: 15px;
    cursor: pointer;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.product-info {
    border: none;
}

.media-item {
    width: 50%;
    margin: 10px auto;
}

.thumbnail {
    padding: 0;
}

    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }

@media (max-width:768px) {
    .media-item {
        width: 10%;
        margin: 10px 20px;
        display: inline-block;
    }
}

@media (max-width: 480px) {
    .thumbnail img {
        width: initial;
    }
    .media-item {
        width: 15%;
        margin: 5px 10px;
        display: inline-block;
    }
}