<div class="container-fluid" *ngIf="product != null && !loading">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header"><i class="fa fa-camera-retro" aria-hidden="true"></i>
                {{product.title}}
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail product-info">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" *ngIf="galleryImages"></ngx-gallery>
                <div class="caption-full">
                    <h4>
                        <a href="#">{{product.title}}</a>
                    </h4>
                    <p>{{product.description}}</p>
                </div>
                <div>
                    <button class="btn btn-primary" (click)="addProduct(product.id)">Add to Cart</button>
                    <span class="pull-right">{{product.price | currency:'USD':true:'2.2-4'}}</span>
                </div>
                <div class="ratings">
                    <p class="pull-right">{{product.rates}} reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        {{product.rating}} stars
                    </p>
                </div>
            </div>
            <div class="well">
                <h2 class="spec">Features</h2>
                <hr>
                <div class="row">
                    <div class="col-md-12" *ngFor="let feature of _features; let i = index">
                        <h5><strong>{{feature.componentTitle}}</strong></h5>
                        <p>{{feature.componentDetail}}</p>
                    </div>
                </div>
            </div>
            <div class="well">
                <h2 class="spec">Specifications</h2>
                <hr>
                <div class="row">
                    <div class="col-xs-6 col-md-4" *ngFor="let spec of _specs; let i = index">
                        <h5><strong>{{spec.componentTitle}}</strong></h5>
                        <span>{{spec.componentDetail}}</span>
                    </div>
                </div>
            </div>
            <div class="well">
                <h2 class="spec">Compatibility</h2>
                <hr>
                <div class="row">
                    <div class="col-md-12" *ngFor="let comp of _compatibilies; let i = index">
                        <strong>{{comp.componentTitle}}</strong>
                        <span>{{comp.componentDetail}}</span>
                    </div>
                </div>
            </div>
            <div class="well">
                <h2 class="spec">Imaging</h2>
                <hr>
                <div class="row">
                    <div class="col-xs-6 col-md-3" *ngFor="let img of _imaging; let i = index">
                        <h5><strong>{{img.componentTitle}}</strong></h5>
                        <p>{{img.componentDetail}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>