@model Online.Store.Website.Models.AccountViewModels.RegisterViewModel
@{
    ViewBag.Title = " Welcome :: Contoso Web ::  ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Scripts.Render("~/bundles/signupvalidate")*@
<script type="text/javascript" src="~/scripts/signupFormValidate.js"></script>

@*@Scripts.Render("~/bundles/account")*@
<script type="text/javascript" src="~/scripts/account/resetPassword.js"></script>
<script type="text/javascript" src="~/scripts/account/signup.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        signupFormValidate.signupFormValidate();
        signup.initialize();
    });
</script>

<div class="container-fluid" id="signup-form-div">
    <div class="row" id="main-content-container-fluid-first-row">
        <div class="col-lg-12">
            <div class="col-sm-12 background_white">
                <h1 class="edit-profile-label lbl-profile-head">My Profile</h1>
                <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]"  class="form-horizontal" role="form" method="post" id="signup-form" accept-charset="utf-8" enctype="multipart/form-data" novalidate="novalidate">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input type="hidden" name="profileEdit" value="0">

                    <input type="hidden" name="social_provider" value="1">

                    <div class="form-group">
                        <label asp-for="FullName" class="col-sm-2 control-label edit-profile-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="avatar" class="col-sm-2 control-label edit-profile-label">Picture</label>
                        <div class="col-sm-10">
                            @{
                                if (Model != null)
                                {
                                    if (Model.ImageUrl != null)
                                    {
                                        <img class="example_F" src=@Model.ImageUrl />
                                        <input asp-for="ImageUrl" class="form-control" type="hidden" style="display:none" />
                                        <!--<input type="hidden" class="form-control" id="ImageUrl" name="ImageUrl" value="@Model.ImageUrl" style="display:none" />-->
                                    }
                                }
                                else
                                {
                                    <label id="lblBrowseAvatar" for="avatar" class="col-sm-2 control-label edit-profile-label">Browse Picture</label>
                                    <input type="file" class="form-control" id="avatar" name="mediaFile" value="" style="display: none;">
                                }
                            }

                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="City" class="col-sm-2 control-label edit-profile-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="State" class="col-sm-2 control-label edit-profile-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Use this hidden value for validaton -->
                        <input type="hidden" name="isTwitterUser" id="isTwitterUser" value="0">

                        <label asp-for="TwitterHandle" class="col-sm-2 control-label edit-profile-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="TwitterHandle" class="form-control" />
                            <span asp-validation-for="TwitterHandle" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="col-sm-2 control-label edit-profile-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- If socialIdentity set then show password field -->
                    <div class="form-group">
                        <label asp-for="Password" class="col-sm-2 control-label edit-profile-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-sm-2 control-label edit-profile-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="notif" class="col-sm-2 control-label edit-profile-label">Notification Preferences </label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="Notifications" />
                                    Notify me about special offers and discounts.
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input asp-for="ProductNotification" />
                                    Notify me about product announcements
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input asp-for="PostNotification" />
                                    Notify me when someone responds to a comment or question I post about the product.
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input asp-for="TweetNotification" />
                                    Notify me when someone responds to a tweet I make about the product.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="TermsService" />
                                    <span id="terms-service-label">
                                        <strong>I agree to the Contoso <a target="_blank" id="tosLink" href="#">Terms of Service</a> and <a target="_blank" id="PrivacyLink" href="#">Privacy Statement</a></strong>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="btn-done-edit-profile">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
