<div class="container-fluid">
    <div class="resume">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <div class="panel panel-default">
                    <div class="bs-callout bs-callout-danger" *ngFor="let topic of topics; let i = index">
                        <h4><a  [routerLink]="['/forum/topics', topic.id]">{{topic.title}}</a></h4>
                        <p>
                            {{topic.content}}
                        </p>
                        <ul class="list-group" *ngIf="topic.mediaUrl">
                            <a class="list-group-item inactive-link" href="#">
                                <h4 class="list-group-item-heading">
                                    {{topic.mediaDescription}}
                                </h4>
                                <p class="list-group-item-text">
                                    <img [src]="topic.mediaUrl" class="img-responsive"/>    
                                </p>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>