<div class="container-fluid">
    <div class="resume">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <div class="panel panel-default">
                    <div class="bs-callout bs-callout-danger" *ngFor="let topic of topics; let i = index">
                        <h4>{{topic.title}}</h4>
                        <p>
                            {{topic.content}}
                        </p>
                        <ul class="list-group" *ngIf="topic.mediaUrl">
                            <a class="list-group-item inactive-link" href="#">
                                <h4 class="list-group-item-heading">
                                    {{topic.mediaDescription}}
                                </h4>
                                <p class="list-group-item-text">
                                    <img [src]="topic.mediaUrl" class="img-responsive"/>    
                                </p>
                            </a>
                        </ul>
                    </div>
                    <div class="bs-callout bs-callout-danger">
                        <h4>Prior Experiences</h4>
                        <ul class="list-group">
                            <a class="list-group-item inactive-link" href="#">
                                <h4 class="list-group-item-heading">
                                    Software Engineer at Twitter
                                </h4>
                                <p class="list-group-item-text">
                                    Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,
                                    te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
                                </p>
                            </a>
                            <a class="list-group-item inactive-link" href="#">
                                <h4 class="list-group-item-heading">Software Engineer at LinkedIn</h4>
                                <p class="list-group-item-text">
                                    Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur.
                                    Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola,
                                    nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
                                </p><ul>
                                    <li>
                                        Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur.
                                        Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola,
                                        nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur.
                                        Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola,
                                        nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
                                    </li>
                                </ul>
                                <p></p>
                            </a>
                        </ul>
                    </div>

                    <div class="bs-callout bs-callout-danger">
                        <h4>Education</h4>
                        <table class="table table-striped table-responsive ">
                            <thead>
                                <tr>
                                    <th>Degree</th>
                                    <th>Graduation Year</th>
                                    <th>CGPA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Masters in Computer Science and Engineering</td>
                                    <td>2014</td>
                                    <td> 3.50 </td>
                                </tr>
                                <tr>
                                    <td>BSc. in Computer Science and Engineering</td>
                                    <td>2011</td>
                                    <td> 3.25 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>