<nav class="navbar navbar-default navbar-inverse navbar-fixed-top navbar-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Online Store</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
            <div class="navbar-form navbar-search pull-left" role="search">
                <ng2-completer [(ngModel)]="searchField" inputName="searchField" [inputClass]="'form-control'"
                [minSearchLength]="3" [datasource]="suggestions" 
                [placeholder]="'Search for products'" [minSearchLength]="0"></ng2-completer>
            </div>
            <user-view></user-view>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>