<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#route-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' id="route-collapse">
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/products']">
                        <span class='glyphicon glyphicon-th-list'></span> Products
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/forum/topics']">
                        <span class='glyphicon glyphicon-globe'></span> Forum
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="cart">
                    <a [routerLink]="['/checkout']">
                        <span class='glyphicon glyphicon-shopping-cart'></span> Cart
                        <i>({{cart.items.length}} items)</i>
                    </a>
                </li>
                <li>
                </li>
            </ul>
            <div class="user-view-nav">
                <user-view></user-view>
            </div>
            
        </div>
    </div>
</div>