<div class="container-fluid">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Cameras
                <small>Point & Shoot Cameras</small>
            </h1>
        </div>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col-xs-6 col-sm-6 col-md-4 camera-item" *ngFor="let product of products; let i = index">
            <a [routerLink]="['/products/details', product.id]">
                <img class="img-responsive" [src]="product.cdnImage" [src-fallback]="product.image" alt="">
            </a>
            <h4>
                <a [routerLink]="['/products/details', product.id]">{{product.title}}</a>
            </h4>
            <p>
                <strong>{{product.price | currency:'USD':true:'2.2-4'}}</strong>
                <button class="btn btn-primary btn-xs" (click)="addProduct(product.id)">Add to Cart</button>
            </p>
        </div>
    </div>
</div>